hadoop-basic/homework1/target/
hadoop-basic/homework2/target/
hadoop-basic/homework3/target/
aux_part_1/homework1/producer/target/producer-1.0-SNAPSHOT.jar
aux_part_1/homework1/producer/target/producer-1.0-SNAPSHOT-jar-with-dependencies.jar
aux_part_1/homework1/producer/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
aux_part_1/homework1/producer/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
aux_part_1/homework1/producer/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
aux_part_1/homework1/producer/target/maven-archiver/pom.properties
aux_part_1/homework1/producer/target/classes/com/dyerus/fibonacci/producer/FibonacciProducer.class
aux_part_1/homework1/producer/target/classes/com/dyerus/fibonacci/producer/Fibonacci.class
aux_part_1/homework1/producer/target/classes/com/dyerus/fibonacci/producer/Constants.class
aux_part_1/homework1/consumer/target/test-classes/com/dyerus/fibonacci/consumer/MockOutputStream.class
aux_part_1/homework1/consumer/target/test-classes/com/dyerus/fibonacci/consumer/FibonacciConsumerTests.class
aux_part_1/homework1/consumer/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
aux_part_1/homework1/consumer/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
aux_part_1/homework1/consumer/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
aux_part_1/homework1/consumer/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
aux_part_1/homework1/consumer/target/maven-archiver/pom.properties
aux_part_1/homework1/consumer/target/consumer-1.0-SNAPSHOT.jar
aux_part_1/homework1/consumer/target/consumer-1.0-SNAPSHOT-jar-with-dependencies.jar
aux_part_1/homework1/consumer/target/classes/com/dyerus/fibonacci/consumer/FibonacciConsumer.class
aux_part_1/homework1/consumer/target/classes/com/dyerus/fibonacci/consumer/Fibonacci.class
aux_part_1/homework1/consumer/target/classes/com/dyerus/fibonacci/consumer/Constants.class
spark-core/homework1/.idea/workspace.xml
